<div class="container">
	<div class="row">
	  	<div class="col l6 s12">
		    <h5 class="white-text">These awesome pictures</h5>
		    <p class="grey-text text-lighten-4">The Astronomy Picture of the Day is a website maintained by NASA and the Technological University of Michigan.
		    Every day a different image or picture of the universe is displayed with a short written explanation by a professional astronomer.</p>
		</div>
		<div class="col l4 offset-l2 s12">
		    <h5 class="white-text">Information</h5>
		    <ul>
		    	<li><a class="grey-text text-lighten-3" href="https://twitter.com/apod" target="_blank">@apod on Twitter</a></li>
			    <li><a class="grey-text text-lighten-3" href="http://apod.nasa.gov/apod/astropix.html" target="_blank">Official Site</a></li>
			    <li><a class="grey-text text-lighten-3" href="https://api.nasa.gov/api.html" target="_blank">NASA Open API</a></li>
		    </ul>
		</div>
	</div>
</div>

<div class="footer-copyright">
	<div class="container">
  		© 2016 Built with <i class="material-icons">favorite_border</i> <a class="grey-text text-lighten-4" href="https://github.com/felucia">Felucia</a>
  	</div>
</div>