<section>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="{{apodInfo.url}}">
          <span class="card-title" ng-bind="apodInfo.title">Card Title</span>
        </div>
        <div class="card-content">
          <p ng-bind="apodInfo.explanation">Card Explanation</p>
        </div>
        <div class="card-action">
          <a href="#">See more...</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TODO: remove this to an init js -->
<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>