<a href="#!" class="brand-logo">APOD</a>
<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>

<ul class="right hide-on-med-and-down">
  <li><a href="">Picture of the day</a></li>
  <li><a href="">Boost your Twitter</a></li>
  <li><a href="">About</a></li>
</ul>

<ul class="side-nav" id="mobile">
  <li><a href="">Picture of the day</a></li>
  <li><a href="">Boost your Twitter</a></li>
  <li><a href="">About</a></li>
</ul>

<!-- TODO: remove this for a init script -->
<script>
  $(".button-collapse").sideNav();
</script>
